@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.signup-btn {
    @apply m-2 py-2 px-4 text-base border-2 border-gray-200 rounded-md hover:border-white hover:bg-green-600 hover:text-white cursor-pointer transition ease-out duration-300
}

.login-btn {
    @apply m-2 py-2 px-4 text-base cursor-pointer hover:text-green-600
}

.nav-menu-item {
    @apply inline-block w-screen text-center p-2 hover:bg-green-700 hover:text-white cursor-pointer transition ease-in-out duration-200
}

.nav-item-btn.active {
    @apply inline-block bg-green-700 text-white py-2 px-4 mx-2 rounded-lg cursor-pointer hover:bg-green-600
}

.nav-item-btn {
    @apply inline-block py-2 px-4 mx-2 rounded-lg cursor-pointer hover:bg-gray-200
}

.nav-user-avatar {
    @apply h-10 w-10 rounded-full mr-5 cursor-pointer hover:ring-1
}

.nav-user-dropdown {
    @apply absolute right-5 top-12 bg-white border-2 z-20 w-40 text-center rounded-xl shadow-xl
}

.nav-user-dropdown-item {
    @apply py-2 cursor-pointer hover:bg-gray-200 px-4
}

.form input {
    @apply border-2 rounded-lg w-full h-10 px-4 py-2 text-xl outline-none focus:ring-1 focus:ring-green-600 focus:border-green-600
}

.form label {
    @apply block text-lg text-gray-600 tracking-wider my-2
}

.form .submit-btn{
    @apply bg-green-700 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition ease-out duration-300
}

.form .error-box {
    @apply py-2 px-4 text-red-500 text-sm bg-red-200 bg-opacity-50 ring-2 ring-red-300
}

.market-page-btn {
    @apply m-4 p-4 shadow-lg ring-1 ring-gray-200 rounded-lg hover:bg-green-700 hover:text-white transition ease-out duration-300
}

.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid green;
  width: 96px;
  height: 96px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
 * Table
 */
table {
  border-spacing: 5px;
}

th {
  text-align: center;
  text-transform: uppercase;
}

th,td {
  padding: 10px 20px
}
